<div class="pmd-content">
  <div class="container">
      <div class="row">
        <div class="pmd-card-title">
            <h2 class="pmd-card-title-text"><%= t "layouts.home.trending_stocks" %></h2>
        </div>
        <%= render "static_pages/tab_all" %>
        <div class="row">
            <!--/.col-md-6 col-sm-12-->
            <div class="col-md-6 col-sm-12">
                <!--pmd-card -->  
                <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-view"> 
                    <!-- Card body -->
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">UI Design</h2>
                    </div>
                    <div class="pmd-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et erat ut nulla imperdiet convallis. Aenean ornare imperdiet quam vitae posuere. In molestie convallis ante a ornare. Donec lacus orci, rutrum eu volutpat ut, euismod in turpis.</div>
                    <!-- Card actions -->
                    <div class="pmd-card-actions">
                        <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">View details</button>
                    </div>
                </div>                            
                <!--pmd-card -->
            </div>
            <!--/.col-md-6 col-sm-12-->
            <div class="col-md-6 col-sm-12">
                <!--pmd-card -->  
                <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-view"> 
                    <!-- Card body -->
                    <div class="pmd-card-title">
                        <h2 class="pmd-card-title-text">Development</h2>
                    </div>
                    <div class="pmd-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et erat ut nulla imperdiet convallis. Aenean ornare imperdiet quam vitae posuere. In molestie convallis ante a ornare. Donec lacus orci, rutrum eu volutpat ut, euismod in turpis.</div>
                    <!-- Card actions -->
                    <div class="pmd-card-actions">
                        <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">View details</button>
                    </div>
                </div>                            
                <!--pmd-card -->
            </div>
            <!--/.col-md-6 col-sm-12-->
        </div>
      </div><!--/row-->
      <hr>
  </div><!--/.container-->
</div>  
