<div class="pmd-content">
  <div class="container">
      <div class="row">
      
          <div class="col-xs-12 col-sm-9">
              <div class="pmd-card pmd-card-default pmd-z-depth banner">
                <div class="pmd-card-body">
                      <h1 class="pmd-display1">Hello, world!</h1>
                      <p class="lead">This is an example to show the potential of an offcanvas layout pattern in Bootstrap. Try some responsive-range viewport sizes to see it in action.</p>
                  </div>
              </div>
        
              <div class="row">
                  <div class="col-md-6 col-sm-12">
                      <!--pmd-card -->  
                      <div class="pmd-card pmd-card-default pmd-z-depth"> 
                          <!-- Card body -->
                          <div class="pmd-card-title">
                              <h2 class="pmd-card-title-text">Planning</h2>
                          </div>
                          <div class="pmd-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et erat ut nulla imperdiet convallis. Aenean ornare imperdiet quam vitae posuere. In molestie convallis ante a ornare. Donec lacus orci, rutrum eu volutpat ut, euismod in turpis.</div>
                          <!-- Card actions -->
                          <div class="pmd-card-actions">
                              <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">View details</button>
                          </div>
                      </div>                            
                      <!--pmd-card -->
                  </div>
                  <!--/.col-md-6 col-sm-12-->
                  <div class="col-md-6 col-sm-12">
                      <!--pmd-card -->  
                      <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-view"> 
                          <!-- Card body -->
                          <div class="pmd-card-title">
                              <h2 class="pmd-card-title-text">Content</h2>
                          </div>
                          <div class="pmd-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et erat ut nulla imperdiet convallis. Aenean ornare imperdiet quam vitae posuere. In molestie convallis ante a ornare. Donec lacus orci, rutrum eu volutpat ut, euismod in turpis.</div>
                          <!-- Card actions -->
                          <div class="pmd-card-actions">
                              <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">View details</button>
                          </div>
                      </div>                            
                      <!--pmd-card -->
                  </div>
                  <!--/.col-md-6 col-sm-12-->
                  <div class="col-md-6 col-sm-12">
                      <!--pmd-card -->  
                      <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-view"> 
                          <!-- Card body -->
                          <div class="pmd-card-title">
                              <h2 class="pmd-card-title-text">UI Design</h2>
                          </div>
                          <div class="pmd-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et erat ut nulla imperdiet convallis. Aenean ornare imperdiet quam vitae posuere. In molestie convallis ante a ornare. Donec lacus orci, rutrum eu volutpat ut, euismod in turpis.</div>
                          <!-- Card actions -->
                          <div class="pmd-card-actions">
                              <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">View details</button>
                          </div>
                      </div>                            
                      <!--pmd-card -->
                  </div>
                  <!--/.col-md-6 col-sm-12-->
                  <div class="col-md-6 col-sm-12">
                      <!--pmd-card -->  
                      <div class="pmd-card pmd-card-default pmd-z-depth pmd-card-custom-view"> 
                          <!-- Card body -->
                          <div class="pmd-card-title">
                              <h2 class="pmd-card-title-text">Development</h2>
                          </div>
                          <div class="pmd-card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et erat ut nulla imperdiet convallis. Aenean ornare imperdiet quam vitae posuere. In molestie convallis ante a ornare. Donec lacus orci, rutrum eu volutpat ut, euismod in turpis.</div>
                          <!-- Card actions -->
                          <div class="pmd-card-actions">
                              <button class="btn pmd-btn-raised pmd-ripple-effect btn-primary" type="button">View details</button>
                          </div>
                      </div>                            
                      <!--pmd-card -->
                  </div>
                  <!--/.col-md-6 col-sm-12-->
              </div>
          </div>

          <div class="col-xs-12 col-sm-3 sidebar">
              <!--Three line list with avatar -->
              <div class="list-group pmd-z-depth pmd-list pmd-card-list">
                  <a class="list-group-item active" href="javascript:void(0);">Graphic Design</a>
                  <a class="list-group-item" href="javascript:void(0);">Web Design</a>
                  <a class="list-group-item" href="javascript:void(0);">Product Design</a>
                  <a class="list-group-item" href="javascript:void(0);">UI / UX Design</a>
                  <a class="list-group-item" href="javascript:void(0);">Product Development</a>
              </div>
          </div><!--/.sidebar-offcanvas-->
      
      </div><!--/row-->
      <hr>
  </div><!--/.container-->
</div>  
