<%= form_with url: follow_expert_path(0), local: true, method: :delete do |f| %>
  <%= f.hidden_field :expert_display_id, value: expert.display_id %>
  <button class="post-left-item btn pmd-ripple-effect btn-danger follow-btn">
    Hủy theo dõi
  </button>
<% end %>
