<div class="pmd-content">
  <div class="container">
    <div class="row">
      <div class="pmd-card pmd-z-depth">
        <div class="pmd-tabs pmd-tabs-bg">
          <ul role="tablist" class="nav nav-tabs nav-justified">
            <li class="active" role="presentation">
              <a data-toggle="tab" role="tab" href="#tab1">
                Khái quát
              </a>
            </li>
            <li role="presentation">
              <a data-toggle="tab" role="tab" href="#tab2">
                Phân tích cơ bản
              </a>
            </li>
            <li role="presentation">
              <a data-toggle="tab" role="tab" href="#tab3">
                Phân tích kỹ thuật
              </a>
            </li>
            <li role="presentation">
              <a data-toggle="tab" role="tab" href="#tab4">
                Tin tức
              </a>
            </li>
            <li role="presentation">
              <a data-toggle="tab" role="tab" href="#tab5">
                Doanh nghiệp cùng ngành
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tab1">
            <%= render "general", stock: @stock %>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab2">
          </div>
          <div role="tabpanel" class="tab-pane" id="tab3">
            <%= render "tradingview_widget", stock: @stock %>
          </div>
          <div role="tabpanel" class="tab-pane" id="tab4">
          </div>
          <div role="tabpanel" class="tab-pane" id="tab5">
            <%= render "same_industry", stocks: @same_industry_stocks %>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>  
