<a class="newest-post-href" href="/posts/1">
  <div class="newest-post">
    <div class="post-header">
      <div class="post-header-avatar">
        <img width="50" height="50" 
          src="https://opensource.propeller.in/assets/images/avatar-icon-40x40.png">
      </div>
      <div class="post-header-middle">
        <div class="post-header-username">BeatVN</div>
        <div class="post-metadata">
          <span class="post-time">Jun. 30, 2021 7:00 AM ET</span>
          <span class="post-stock-name">Luna Innovations Incorporated (LUNA)</span>
        </div>
        <div class="post-header-title">Chứng khoán có khả năng sôi nổi vào tháng 10</div>
        <div class="post-statistics">
          <div class="post-like-number">100K lượt thích</div>
          <div>・</div>
          <div class="post-comment-number">100 bình luận</div>
        </div>
      </div>
    </div>
  </div>
</a>
