<div class="pmd-card pmd-z-depth post-item post-left">
  <span class="post-left-item">Được viết bởi</span>
  <div class="post-left-item expert-avatar">
    <img width="50" height="50" 
      src="https://opensource.propeller.in/assets/images/avatar-icon-40x40.png">
  </div>
  <div class="post-left-item expert-name"><b><%= post.expert_name %></b></div>
  <% if follow_expert.followed %>
    <%= render "follow_experts/delete", follow_expert: follow_expert %>
  <% elsif current_user.nil? or (current_user and current_user.user?) %>
    <%= render "follow_experts/new", follow_expert: follow_expert %>
  <% end %>
  <span class="post-left-item follow-number"><%= post.expert_follow_num %> lượt theo dõi</span>
</div>
