<div class="pmd-card pmd-z-depth post-item post-left">
  <span class="post-left-item">Được viết bởi</span>
  <div class="post-left-item expert-avatar">
    <img width="50" height="50" 
      src="https://opensource.propeller.in/assets/images/avatar-icon-40x40.png">
  </div>
  <div class="post-left-item expert-name"><b><%= post.expert_name %></b></div>
  <button class="post-left-item btn pmd-ripple-effect btn-primary follow-btn">Theo dõi</button>
  <span class="post-left-item follow-number"><%= post.expert_follow_num %> lượt theo dõi</span>
</div>
