<div class="pmd-card pmd-z-depth post-item post-right">
  <div class="post-stock-title">Thông tin về cổ phiếu</div>
  <div class="post-stock-item stock-code">
    <div>Mã cổ phiếu</div>
    <div><b>AAA</b></div>
  </div>
  <hr>
  <div class="post-stock-item stock-position">
    <div>Lời khuyên</div>
    <div><b>BÁN</b></div>
  </div>
  <hr>
  <div class="post-stock-item stock-forecast">
    <canvas id="stockChart1"></canvas>
  </div>
</div>
