<div class="post-comment">
  <div class="comment-header">
    <div class="comment-header-avatar">
      <img width="40" height="40" 
        src="https://opensource.propeller.in/assets/images/avatar-icon-40x40.png">
    </div>
    <div class="comment-header-middle">
      <div class="comment-header-username">BeatVN</div>
      <div class="comment-header-time">1 giờ trước</div>
    </div>
    <div class="comment-header-setting">
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </div>
  </div>
  <div class="comment-body">
    Chứng khoán bla blo.Chứng khoán bla blo.Chứng khoán bla blo.Chứng khoán bla blo.Chứng khoán bla blo.Chứng khoán bla blo.Chứng khoán bla blo.Chứng khoán bla blo.Chứng khoán bla blo
  </div>        
</div>
