<div class="pmd-card pmd-z-depth post-item post-middle">
  <div>
    <span class="post-title">Thị trường chứng khoán sẽ biến đối</span>
    <div class="post-metadata">
      <span class="post-time">Jun. 30, 2021 7:00 AM ET</span>
      <span class="post-stock-name">Luna Innovations Incorporated (LUNA)</span>
    </div>
  </div>
  <div class="post-body">
    Luna Technologies (NASDAQ:LUNA) is an underfollowed and undervalued test and measurement (T&M) player. Luna has only two analysts that cover it, both from small firms. The company is the biggest player in the fiber testing part of the T&M market. It uses properties of fiber to test strain, temperature, acceleration and vibration, and thickness in various substances over short and long distances. With its recent acquisition of OptaSense, a comparable company based in the UK, Luna now does about $125 million in revenue split between its fiber T&M business, Lightwave, at 80% of the total and Luna Labs, its government funded research business, at 20%. Lightwave has grown about 18% organically over time supplemented by occasional acquisitions. This growth rate contrasts positively with Keysight's (NYSE:KEYS) organic growth rate at 10% over time.
  </div>
  <div class="post-footer">
    <div class="post-footer-action">
      <div class="post-like-btn">
        <button class="btn pmd-ripple-effect">
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <span>100K lượt thích</span>
        </button>
      </div>
      <div class="post-comment-btn">
        <button class="btn pmd-ripple-effect">
          <i class="fa fa-comments" aria-hidden="true"></i>
          <span>100 bình luận</span>
        </button>
      </div>
    </div>
    <div class="post-comments">
      <div class="post-comment-form">
        <div class="comment-filter">
          <span class="comment-filter-title">Sắp xếp theo: </span>
          <select class="comment-filter-select">
            <option selected>Mới nhất</option>
            <option value="1">Cũ nhất</option>
          </select>
        </div>
        <form class="comment-form">
          <textarea name="content" class="comment-input"></textarea>
          <button class="btn pmd-ripple-effect">Bình luận</button>
        </form>
      </div>
      <div>
        <%= render "post_comment" %>
        <%= render "post_comment" %>
      </div>
    </div>
  </div>
</div>
