<div class="container posts">
  <% if current_user && current_user.expert? %>
    <div>
      <%= link_to "Tạo mới bài đăng", new_post_path, class: "btn btn-primary new-post-btn" %>
    </div>
  <% end %>
  <div class="pmd-card pmd-z-depth posts-left">
    <p class="posts-title">Bài đăng nổi bật</p>
    <% @popular_posts.each do |popular_post| %>
      <%= render "popular_post", popular_post: popular_post %>
    <% end %>
  </div>
  <div class="pmd-card pmd-z-depth posts-right">
    <p class="posts-title">Bài đăng mới nhất</p>
    <% @newest_posts.each do |newest_post| %>
      <%= render "newest_post", newest_post: newest_post %>
    <% end %>    
  </div>
</div>
