<div class="post-detail">
  <%= render "post_left", post: @post, follow_expert: @follow_expert %>
  <%= render "post_middle", post: @post, like: @like %>
  <%= render "post_right", post: @post %>
</div>
