.header-top {
  background: #4285f4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
  padding: 15px;
}

.header-top-logo {
  color: white;
  flex-grow: 1;
  height: 100%;    
  font-size: x-large;
}

.header-top-search {
  height: 100%;
  flex-grow: 10;
}

.header-top-language {
  flex-grow: 3;
}

.header-top-session {
  height: 100%;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-top-notification {
  margin: 0 15px;
  cursor: pointer;
  position: relative;
}

.notification-icon {
  font-size: 25px;
  position: relative;
}

.notification-number {
  padding: 2px;
  display: flex;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -2px;
  color: white;
  background: red;
  align-content: center;
  justify-content: center;
  align-items: center; 
}

.notification-pannel {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 0;
  max-width: 350px;
  min-width: 300px;
  max-height: calc(100vh - 100px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: white;
  text-align: center;
  overflow-y: auto;  
}

.res-notification-pannel {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 300px;
  max-height: calc(100vh - 200px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background: white;
  text-align: center;
  overflow-y: auto;  
}

.notification-item {
  display: flex;
  color: rgb(51, 51, 51) !important;
  padding: 10px 5px;
  text-decoration: none;  
}

.notification-item:hover, .notification-item:focus {
  background-color: #eee;
  color: rgb(51, 51, 51);
  cursor: pointer;
  text-decoration: none;
}

.load-more {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 50px;
}

.notification-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 5px;
}

.notification-content {
  text-align: left;
  overflow-wrap: break-word;
  word-break: break-word;
}

.notification-time {
  font-size: 12px;
}

.search-form {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: space-between;
}

.search-input {
  flex-grow: 1;
  padding: 6px;
  font-size: 16px;
  border: none;
  border-radius: 0;
}

.search-input:focus-visible {
  outline: none;
}

.search-button {
  border: 0;
  background-color: white;
  font-size: inherit;
  text-align: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}

.search-icon {
  vertical-align: middle;
}

.login-btn, .register-btn {
  background: #4acc8e;
  flex-grow: 1;
}

.logout-btn {
  background: #4acc8e;
}

.login-btn {
  margin-right: 20px;
}

.header-top-option {
  display: none;
}

.header-down {
  background: #4285f4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}

.header-down-item {
  cursor: pointer;
  display: flex;
  height: 100%;
}

.header-down-item:focus,
.header-down-item:hover {
  text-decoration: none;
  background-color: #1c6aea;
}

.header-down-item-a, 
.header-top-logo-a {
  color: white;
  flex-grow: 1;
}

.header-down-item-a {
  padding: 10px;
}

.header-down-item-a:hover,
.header-top-logo-a:hover {
  color: white;
  text-decoration: none;
}

.pmd-content {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.wrapper {
  padding-top: 120px;
}

@media (max-width: 650px) {
  .wrapper {
    padding-top: 80px;
  }

  .header-top {   
    align-items: flex-start;
    flex-direction: column;
    align-content: space-between;
    position: relative;
  }

  .header-top-notification {
    display: none;
  }

  .header-top-option {
    display: flex;
    position: absolute;
    top: 15px;
    right: 15px;
    align-items: center;
    flex-direction: row;       
  }

  .header-top-notification-responsive {
    margin: 0 20px;
  }

  .nav-bar-icon {
    color: white;
    font-size: 25px;
  }

  .nav-bar-icon:hover, .nav-bar-icon .fa-bars {
    color: white;
  }

  .display-none {
    display: block;
  } 

  .header-top-item, .header-down-item {
    display: none;
    margin-bottom: 10px;
  }

  .header-top-logo, .header-top-search, .header-top-session {
    width: 100%;
  }

  .header-top-session {
    flex-direction: row;
    justify-content: flex-start;
  }

  .header-down {
    align-items: flex-start;
    flex-direction: column;
    align-content: space-between;    
  }

  .header-down-item {
    width: 100%;
    margin-bottom: 5px;
  }
}
