.posts {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.new-post-btn {
  background: #4acc8e;
}

.posts .posts-left {
  flex: 1;
  padding: 10px;
  margin-left: 10px
}

.posts .posts-title {
  font-size: 24px;
}

.posts .posts-right {
  flex: 1;
  margin-left: 20px;
  padding: 10px;
}

.posts .newest-post {
  padding: 5px;
  border: 1px solid #d2d1d1;
  margin-bottom: 10px;
}

.posts .newest-post:hover {
  background-color: #eee;
  cursor: pointer;
}

.posts .newest-post-href, .popular-post-href {
  color: rgb(51, 51, 51);
}

.posts .post-like-number, .post-comment-number {
  font-size: 12px;
}

.posts .newest-post-href:hover, .posts .popular-post-href:hover {    
  text-decoration: none;
  outline: 0;
  color: rgb(51, 51, 51);
}

.posts .post-header {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.posts .post-header-avatar {
  flex-grow: 0;
}

.posts .post-header-middle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.posts .post-header-username {
  font-weight: bold;
}

.posts .popular-post {
  padding: 5px;
  border: 1px solid #d2d1d1;
  margin-bottom: 10px;
}

.posts .popular-post:hover {
  background-color: #eee;
  cursor: pointer;
}

.posts .post-time {
  font-size: 12px;
}

.posts .post-time:after {
  color: #dbdbdb;
  content: "|";
  display: inline-block;
  font-weight: 400;
  padding: 0 4px;
}

.posts .post-statistics {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 800px) {
  .posts {
    flex-direction: column;
  }
}

.post-detail {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  padding: 5px 20px;
}

.post-item {
  padding: 10px;
}

.post-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-left-item {
  margin-bottom: 10px;
}

.follow-btn {
  background: #4acc8e;
}

.follow-number {
  font-size: 12px;
}

.post-middle {
  flex: 6;
  margin-left: 20px;
}

.post-title {
  font-weight: bold;
  font-size: 24px;
}

.post-time {
  font-size: 12px;
}

.post-time:after {
  color: #dbdbdb;
  content: "|";
  display: inline-block;
  font-weight: 400;
  padding: 0 4px;
}

.post-body {
  padding: 10px 0;
}

.post-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.post-footer-action {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 10px; 
}

.post-like-btn {
  margin-right: 15px;
}

.post-comments {
  border-top: 1px solid #d2d1d1;
  padding-top: 10px;
}

.comment-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.comment-filter-title {
  padding-right: 5px;
}

.comment-form {
  padding: 10px 0;
}

.comment-input {
  width: 100%;
}

.post-comment {
  margin-bottom: 10px;
  border-top: 1px solid #d2d1d1;
  padding-top: 10px;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  flex-wrap: nowrap;
  align-items: center;
}

.comment-header-avatar {
  flex-grow: 0;
}

.comment-header-middle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.comment-header-username {
  font-size: 14px;
  font-weight: bold;
}

.comment-header-time {
  font-size: 12px;
}

.comment-header-setting {
  flex-grow: 0;
  padding: 5px;
}

.comment-header-setting .fa-ellipsis-h {
  cursor: pointer;
  font-size: 16px;
}

.post-right {
  flex: 3;
  margin-left: 20px;
}

.post-stock-title {
  font-weight: bold;
  font-size: 24px;
}

.post-stock-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stock-code-href {
  color: #333;
}

.price-pasts {
  display: none;
}

#targetPrice {
  display: none;
}

//New post page
.new-post {
  padding: 10px;

  .new-post-form {
    display: flex;
    flex-direction: row;
  }

  .new-post-left-form {
    flex: 2;

    .new-post-field-tag {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    .new-post-field-label {
      flex: 1;
    }

    .new-post-field {
      flex: 3;
      font-size: 16px;
      padding: 0 10px;
    }

    .new-post-field-select {
      flex: 3;
      font-size: 16px;
      padding: 0 10px;
      width: 100%;
    }
  }

  .new-post-right-form {
    flex: 3;
    padding: 0 0 0 10px;

    .new-post-field-tag {
      margin-bottom: 10px;
    }

    .new-post-field {
      font-size: 16px;
    }
    
    .new-post-field-content {
      font-size: 16px;
      min-height: 250px;
      max-height: 400px;
      height: auto;
    }
  }

  .error-message {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    margin-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .post-detail {
    flex-direction: column;
    align-items: normal;
  }

  .post-middle {
    margin-left: 0;
  }

  .post-left {
    margin-left: 0;
  }

  .post-right {
    margin-left: 0;
  }

  .posts {
    .posts-left, .posts-right {
      margin-left: 0;
    }

    .new-post-btn {
      margin-bottom: 15px;
    }
  }

  .new-post {
    .new-post-form {
      flex-direction: column;
    }

    .new-post-right-form {
      padding: 0;
    }
  }
}
