<div class="propeller-topbar">
  <a class="btn btn-sm back-btn pmd-btn-fab pmd-ripple-effect btn-link" href="../"><i class="material-icons pmd-sm">arrow_back</i></a>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <!--propeller logo-->
    <a target="_blank" href="#" class="navbar-brand">
    </a>
    <p class="by-digicorp">by <a href="#" target="_blank">IAS<strong>TEAM</strong></a></p>
  </div>
  <!--navbar-header -->
  <div class="pmd-navbar-right-icon pull-right">	
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, "data-turbolinks":"false", method: :delete,
        class: "btn btn-sm pmd-ripple-effect btn-primary" do %>
        <%= t "layouts.logout.title" %>
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, "data-turbolinks":"false",
        class: "btn btn-sm pmd-ripple-effect btn-primary" do %>
        <%= t "layouts.login.title" %>
      <% end %>
    <% end %>
    <a class="btn pmd-btn-fab pmd-ripple-effect btn-link btn-sm btn-link" href="javascript:void(0);"><i class="material-icons pmd-xs">close</i></a>
  </div>
</div>
