<div class="container-post-ed">
	<div style="width: 25%;color: #007dd5; font-weight: bold; font-size: 18px;">
		<%= link_to post.stock.code, stock_path(post.stock.display_id), "data-turbolinks": "false" %>
	</div>
	<div style="width: 25%;color: #39a8ca; font-weight: bold; font-size: 18px;">
		<%= post.position.upcase %>
	</div>
	<div style="width: 25%; color: #39a8ca; font-weight: bold; font-size: 15px;">
		<%= number_to_currency(post.target_price, locale: :vi) %>
	</div>
	<div style="width: 25%; color: #454545; font-weight: bold; font-size: 15px;">
		<%= post.created_at.to_date %>
	</div>
</div>
