<div class="container-post-ed">
	<div style="width: 25%;color: #007dd5; font-weight: bold; font-size: 18px;">DDAIF</div>
	<div style="width: 25%;color: #39a8ca; font-weight: bold; font-size: 18px;">Mua</div>
	<div style="width: 25%; color: #39a8ca; font-weight: bold; font-size: 15px;">$118.44</div>
	<div style="width: 25%; color: #454545; font-weight: bold; font-size: 15px;">Hôm qua</div>
</div>